{% extends "layout.html" %}
{% block title %}Transfer{% endblock %}

{% block content %}
    <form action="/debt_callback/{{recordId}}/{{debt.ID}}{{'/1' if backToRecord else  '/0'}}" id="addDebtsform" method="get">
        <table width="300">
            <tbody>
                <tr>
                    <td><input type="text" name="other" id="toUser" value="{{debt.borrower.name if debt.borrower != user else debt.lender.name}}" data-mini="true" /></td>
                    <td><select name="type" id="direct">
                           <option value="Owe" {{"selected='selected'" if debt.lender.name == user else ""}}>Owes</option>
                           <option value="Lent"{{ "selected='selected'" if debt.borrower.name == user else ""}}>Lent</option>
                        </select>
                    </td>
                    <td>Me                  
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <p style="margin-top:-15px;">Amount $</p> 
        <input type="text" name="amount"   id="amount" value="{{debt.amount}}" data-mini="true"/>
        <script>
         var user_list={{user_list|safe}}
		 $( "#toUser" ).autocomplete({
			source: user_list
		});
		function submitdebt(){
			$.post("/debt_callback/{{recordId}}/{{debt.ID}}", $("#addDebtsform").serialize());
			}
        </script>
        
        <br>
		<a href={{"/records" if backToRecords else "/debts"}} onClick=submitdebt();  style="float:left" data-role="button" value="button">Done</button>
	    <a href="/addDebts/{{recordId}}" onClick=submitdebt(); window.location.reload(); style=" float:left"data-role="button">Add Debt</a>

    </form>
	

	
	
{% endblock %}
