{% extends "layout.html" %}
{% block title %}
Analytics
{% endblock %}
{% block analytics_top_btn %}
    class="ui-btn-active"
{% endblock %}
{% block content %}
<div class="content-primary">
	<form method="get" action="/analytics">
		<table width=320>
			<tbody>
				<tr>
					<td>
						<select name="account">
							{% for x in ex_types.keys() %}
							<option value="{{x}}" {{"SELECTED='SELECTED'" if x==viewAccount else ""}}>{{ex_types[x]}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="submit" value="View"/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<br/>
    {% block analytics_content %}{% endblock %}
	
</div>
        
    
    
{% endblock %}        

{% block footer %}
    <div data-role="footer" data-position="fixed" data-id="topnav" data-tap-toggle="false">
        <div data-role="navbar" data-tap-toggle="false">
            <ul>
                <li><a href="/analytics/list" {% block list_bottom_btn %}{% endblock %}>List</a></li>
                <li><a href="/analytics/map" {% block map_bottom_btn %}{% endblock %}>Map</a></li>
                <li><a href="/analytics/chart" {% block chart_bottom_btn %}{% endblock %}>Chart</a></li>
                
            </ul>
        </div>
    </div>

{% endblock %}
