{% extends "layout.html" %}

{% block content %}
    <div data-role="content">
        <div data-role="page-1">
            <script>
                    
                // Set a callback to run when the Google Visualization API is loaded.
                
                google.setOnLoadCallback(cow);
                function cow(){
                
                    // Create the data table.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Year');
                    data.addColumn('number', 'Sales');
                    data.addRows([
                      ['Previous Week', 1170],
                      ['Last Week',  1260],
                      ['This Week', 1030]
                    ]);

                    var options = {
                        width: 320,
                        legend: {position: 'none', textStyle: {color: 'blue', fontSize: 16}},
                        title: 'Weekly Expenditure'
                    };
                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
                console.log("A ok");
            </script>
            
            <div id="chart_div"></div>
        </div>
        <div data-role="page-2">
            <div id="map_canvas" style="width:320px; height: 320px;"></div>
            <script type="text/javascript">
              //$.ready(function() {
                var myOptions = {
                  center: new google.maps.LatLng(42.37736, -71.110556),
                  zoom: 12,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"),
                    myOptions);
                    
                
              //  map.addOverlay(new GMarker(new GLatLng(42.8487, -73.755)));
              //})
            </script>
        </div>
        <div data-role="page-3">
            <ul data-role="listview" data-filter="true">
                <li class="owe"><a rel="external" href="records.html?amount=$250&day=8&month=03">Spent $250 on 8 Mar</a></li>
                <li class="owe"><a rel="external" href="records.html?amount=$50&day=6&month=03">Spent $50 on 6 Mar</a></li>
                <li class="owe"><a rel="external" href="records.html?amount=$20&day=6&month=03">Spent $20 on 6 Mar</a></li>
                <li class="owe"><a rel="external" href="records.html?amount=$25&day=26&month=02">Spent $25 on 26 Feb</a></li>
                
            </ul>
        </div>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#" data-role="tab" data-icon="grid"  class="ui-btn-active">Time</a></li>
                <li><a href="#page-2" data-role="tab" data-icon="grid">Location</a></li>
                <li><a href="#page-3" data-role="tab" data-icon="grid">List</a></li>
            </ul>
        </div>
    </div>
{% endblock %}        
