{% extends "layout.html" %}
{% block analytics_top_btn %}
    class="ui-btn-active"
{% endblock %}
{% block content %}
    <div data-role="content">
        <div data-role="page-1">
            hello world
        </div>
        <div data-role="page-2">
            mooo    
        </div>
        <div data-role="page-3">
            coww
        </div>
        
    </div>
    
{% endblock %}        
{% block footer %}
    <div class="content-primary">
        <ul data-role="listview" class="ui-listview">
            
        </ul>
    </div>
{% endblock %}