{% extends "analytics.html" %}
{% block head %}
<script text="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        function drawChart(){
            var chartDataJ = JSON.parse('{{chartData}}');
            var data = google.visualization.arrayToDataTable(chartDataJ);
            var options = {
                title: 'Spendings',
                hAxis: {title:'Time',titleTextStyle:{color:'blue'}},
                vAxis: {title:'Amount',titleTextStyle:{color:'blue'}}
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            google.visualization.events.addListener(chart, 'select', function(){
                    sel = chart.getSelection()[0];
                    console.log(sel.row + " / " + sel.column);
                    window.location = '/analytics/list';
                    });
        }
        
        
        google.load("visualization","1",{packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        

    </script>
{% endblock %}
{% block analytics_content %}
<div id="chart_div" style="width:320px">
</div>
<div>
    <table width=320>
        <tbody>
            <tr style="text-align:center">
                <td><a rel="external" href="?view={{viewer}}&offset={{off}}&hioffset={{wkoff+1}}">&lt;&lt;</a></td>
                <td><a rel="external" href="?view={{viewer}}&offset={{off+1}}&hioffset={{wkoff}}">&lt;</a></td>
                <td><a rel="external" href="?view=0">WEEK</a></td>
                <td><a rel="external" href="?view=1">MONTH</a></td>
                <td><a rel="external" href="?view={{viewer}}&offset={{off-1}}&hioffset={{wkoff}}">&gt;</a></td>
                <td><a rel="external" href="?view={{viewer}}&offset={{off}}&hioffset={{wkoff-1}}">&gt;&gt;</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block chart_bottom_btn %}
    class="ui-btn-active"
{% endblock %}
