{% extends "analytics.html" %}
{% block head %}
<script text="text/javascript" src="{{ url_for('static',filename='jscharts.js') }}"></script>
{% endblock %}
{% block analytics_content %}
<div id="chart_div" style="width:320px">
</div>
    <script type="text/javascript">
        var myData = {{chartData}};
        var myChart = new JSChart('chart_div','bar','');
        myChart.setDataArray(myData);
        var myColors = new Array();
        for (i=0; i<myData.length; ++i){
            myColors.push('#FF0000');
        }
        myChart.colorize(myColors);
        myChart.setSize(320, 320);
        myChart.setBarValues(false);
        myChart.setBarOpacity(0.7);
        myChart.setBarSpacingRatio(35);
        myChart.setBarBorderWidth(0);
        myChart.setTitle('Expenditures{{extraTitle}}');
        myChart.setTitleFontSize(10);
        myChart.setTitleColor('#408F7F');
        myChart.setAxisValuesColor('#408F7F');
        myChart.setAxisNameX('Time');
        myChart.setAxisNameY('Amount');
        myChart.setAxisNameColor('#408F7F');
        myChart.setAxisColor('#5DB0A0');
        myChart.setGridOpacity(0.8);
        myChart.setGridColor('#B9D7C9');
        myChart.draw();
    </script>
<div>
    <table width=320>
        <tbody>
            <tr style="text-align:center">
                <td><a rel="external" href="?view={{viewer}}&offset={{off}}&hioffset={{wkoff+1}}">&lt;&lt;</a></td>
                <td><a rel="external" href="?view={{viewer}}&offset={{off+1}}&hioffset={{wkoff}}">&lt;</a></td>
                <td><a rel="external" href="?view=0">WEEK</a></td>
                <td><a rel="external" href="?view=1">MONTH</a></td>
                <td><a rel="external" href="?view={{viewer}}&offset={{off-1}}&hioffset={{wkoff}}">&gt;</a></td>
                <td><a rel="external" href="?view={{viewer}}&offset={{off}}&hioffset={{wkoff-1}}">&gt;&gt;</a></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    setTimeout(function(){$("img").remove();}, 1000);
</script>
{% endblock %}
{% block chart_bottom_btn %}
    class="ui-btn-active"
{% endblock %}
