{% extends "layout.html" %}
{% block debts_top_btn %}
    class="ui-btn-active"
{% endblock %}
{% block content %}
    
			<ul data-role="listview" data-filter="true" id="listarea">
				{% for i in urecords.keys() %}
					{%if urecords[i][-1][3]=="lender": %}
					<li><a href="debts1.html">{{ urecords[i][-1][1]}} <span class=" owed">Lent</span> you {{ urecords[i][-1][2]}}</a></li>
					{%else%}
					<li><a href="debts1.html">{{ urecords[i][-1][1]}} <span class=" owe">OWES</span> you {{ urecords[i][-1][2]}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
{% endblock %}

