{% extends "layout.html" %}
{% block debts_top_btn %}
    class="ui-btn-active"
{% endblock %}
{% block content %}
    
			<ul data-role="listview" data-filter="true" id="listarea">
				{% for i in debtsPerPerson.keys() %}
					{%if debtsPerPerson[i][-1].borrower=="{{myUserId}}": %}
					<li><a href="/invdebt/{{debtsPerPerson[i][-1].lender.ID}}" rel="external">{{debtsPerPerson[i][-1].lender.name}} <span class=" owed">Lent</span> you ${{ two_decimal(debtsPerPerson[i][-1].amount)}}</a></li>
					{%else%}
					<li><a href="/invdebt/{{debtsPerPerson[i][-1].borrower.ID}}" rel="external">{{debtsPerPerson[i][-1].borrower.name}} <span class=" owe">OWES</span> you ${{ two_decimal(debtsPerPerson[i][-1].amount)}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
{% endblock %}

