{% extends "layout.html" %}
{% block debts_top_btn %}
    class="ui-btn-active"
{% endblock %}
{% block content %}
   
			<ul data-role="listview" data-filter="true" id="listarea">
				{% for i in urec %}
					{%if i.borrower=="{{myUserId}}": %}
					<li><a href="invdebt.html">"{{ i.lender}}" <span class=" owed">Lent</span> you {{ i.amount}}</a></li>
					{%else%}
					<li><a href="invdebt.html">"{{ i.borrower}}" <span class=" owe">OWES</span> you {{ i.amount}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
{% endblock %}

