{% extends "layout.html" %}
{% block debts_top_btn %}
    class="ui-btn-active"
{% endblock %}
{% block content %}
   
			<ul data-role="listview" data-filter="true" id="listarea">
				{% for i in urec %}
					{%if i.borrower.ID ==myUserId %}
					<li><a href="invdebt.html" rel="external">{{ i.lender.name}} <span class="  owed">LENT</span> you ${{two_decimal(i.amount)}}</a></li>
					{%else%}
					<li><a href="invdebt.html" rel="external">{{ i.borrower.name}} <span class="  owe">OWES</span> you ${{two_decimal(i.amount)}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
{% endblock %}

