{% extends "layout.html" %}
{% block debts_top_btn %}
    class="ui-btn-active"
{% endblock %}
{% block content %}
    
            <ul data-role="listview" data-filter="true" id="listarea">
            <li data-role="list-divider" >
                {{message}}
            </li>
                {% for debt, record in debt_records.items() %}
                    {%if debt.borrower.ID ==myUserId %}
                    <li><a href="/addDebts/{{record.ID}}/{{debt.ID}}" rel="external">
                        {{ debt.lender.name}} 
                        <span class="  owed">LENT</span> 
                        you ${{two_decimal(debt.amount)}}
                    </a></li>
                    {%else%}
                    <li><a href="/addDebts/{{record.ID}}/{{debt.ID}}" rel="external">
                        {{ debt.borrower.name}} 
                        <span class="  owe">OWES</span> 
                        you ${{two_decimal(debt.amount)}}
                    </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
{% endblock %}

