<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Top{% endblock %} - Traxx</title>
		<meta name="viewport" content="width=320, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='traxx.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='jquery.mobile-1.0.1.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ui-lightness/jquery-ui-1.8.20.custom.css') }}" />
		<script src="{{ url_for('static', filename='jquery-1.6.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery.mobile-1.0.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery-ui-1.8.20.custom.min.js') }}"></script>
		<script src="{{ url_for('static', filename='traxx.js') }}"></script>
		{% block head %}{% endblock %}
	</head>
	<body>
        <div data-role="header" data-position="fixed" data-id="topnav" data-tap-toggle="false">
            <div data-role="navbar" data-tap-toggle="false">
                <ul>
                    <li><a href="/record" {% block record_top_btn %}{% endblock %}>Record</a></li>
                    <li><a href="/transfer" {% block transfer_top_btn %}{% endblock %}>Transfer</a></li>
                    <li><a href="/debts" {% block debts_top_btn %}{% endblock %}>Debts</a></li>
                    <li><a href="/analytics" {% block analytics_top_btn %}{% endblock %}>Analyze</a></li>
                </ul>
            </div>
        </div>
	<div data-role="content">
		{% block content %}{% endblock %}
	</div>
		{% block footer %}{% endblock %}
	</body>
</html>
