{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}
{% block head %}
<style type="text/css">
    .ui-page{
        background-color:#000000;
        background-image:url('{{ url_for("static",filename="traxbg.png") }}');
        background-repeat:no-repeat;
        background-position:center bottom;
        background-size:320px 210px;
    }
</style>
{% endblock %}
{% block content %}
<div class="content-primary">

    <form method="POST" action="/login" data-ajax="false">
        {% if registering %}
            We couldn't find your email; would you like to register for an Account?
            <input type="text" name="name" placeholder="Your Name"/>
        {% endif %}
        <input type="text" name="email" placeholder="Email Address" {% if email %} value="{{email}}" {% endif %}/>
        <input type="password" name="password" placeholder="Password" {% if password %} value="{{password}}" {% endif %}/>
        {% if registering %}
            <input type="submit" value="Register!"/>
        {% else %}
            <input type="submit" value="Login!"/>
        {% endif %}
        
    </form>
    <br/>
    {% block analytics_content %}{% endblock %}
    
</div>



        
    
    
{% endblock %}        
