{% extends "layout.html" %}
{% block record_top_btn %}
    class="ui-btn-active"
{% endblock %}
{% block content %}

    <form  action="/record_commit/{{record.ID}}"  id="myform" " data-update="/record_callback/{{record.ID}}" method="get">
        <div id="moneyInput">
            <div>
                <b>I Spent  $</b>
                <input  type="tel"  name="amount" style="width: 200px; display: inline" id="basic" value="{{ two_decimal(record.amount) }}"  onkeyup="postParent(this)" onchange="postParent(this)" onclick="$(this).val('')"data-mini="true" />
                <b>in</b>
            </div>
            
            <span style="width: 100px; display: inline">
                <select name="type" id="select-choice-1"  onchange="postParent(this)">
                    {% for acc in my_accounts %}
                    <option value="{{acc}}" {{"selected='selected'" if record.ex_type == acc else "" }}>{{my_accounts[acc]}}</option>
                    {% endfor %}
                </select>
            <span>

			
			
			<table>
                <tr>
                    
						<td><select id="year" name="year"  onchange="postParent(this)">
                            <option value="2011" {{"selected='selected'" if record.time.year == 2011 else "" }}>2011</option>
                            <option value="2012" {{"selected='selected'" if record.time.year == 2012 else "" }}>2012</option>
                        </select></td>
						<td><select id="month" name="month"  onchange="postParent(this)">
                            <option value="1" {{"selected='selected'" if record.time.month == 1 else "" }}>Jan</option>
                            <option value="2" {{"selected='selected'" if record.time.month == 2 else "" }}>Feb</option>
                            <option value="3" {{"selected='selected'" if record.time.month == 3 else "" }}>Mar</option>
                            <option value="4" {{"selected='selected'" if record.time.month == 4 else "" }}>Apr</option>
                            <option value="5" {{"selected='selected'" if record.time.month == 5 else "" }}>May</option>
                            <option value="6" {{"selected='selected'" if record.time.month == 6 else "" }}>Jun</option>
                            <option value="7" {{"selected='selected'" if record.time.month == 7 else "" }}>Jul</option>
                            <option value="8" {{"selected='selected'" if record.time.month == 8 else "" }}>Aug</option>
                            <option value="9" {{"selected='selected'" if record.time.month == 9 else "" }}>Sep</option>
                            <option value="10" {{"selected='selected'" if record.time.month == 10 else "" }}>Oct</option>
                            <option value="11" {{"selected='selected'" if record.time.month == 11 else "" }}>Nov</option>
                            <option value="12" {{"selected='selected'" if record.time.month == 12 else "" }}>Dec</option>
                        </select></td>
						<td><select id="day" name="day" onchange="postParent(this)">
                            <option value="1" {{"selected='selected'" if record.time.day == 1 else "" }}>01</option>
                            <option value="2" {{"selected='selected'" if record.time.day == 2 else "" }}>02</option>
                            <option value="3" {{"selected='selected'" if record.time.day == 3 else "" }}>03</option>
                            <option value="4" {{"selected='selected'" if record.time.day == 4 else "" }}>04</option>
                            <option value="5" {{"selected='selected'" if record.time.day == 5 else "" }}>05</option>
                            <option value="6" {{"selected='selected'" if record.time.day == 6 else "" }}>06</option>
                            <option value="7" {{"selected='selected'" if record.time.day == 7 else "" }}>07</option>
                            <option value="8" {{"selected='selected'" if record.time.day == 8 else "" }}>08</option>
                            <option value="9" {{"selected='selected'" if record.time.day == 9 else "" }}>09</option>
                            <option value="10" {{"selected='selected'" if record.time.day == 10 else "" }}>10</option>
                            <option value="11" {{"selected='selected'" if record.time.day == 11 else "" }}>11</option>
                            <option value="12" {{"selected='selected'" if record.time.day == 12 else "" }}>12</option>
                            <option value="13" {{"selected='selected'" if record.time.day == 13 else "" }}>13</option>
                            <option value="14" {{"selected='selected'" if record.time.day == 14 else "" }}>14</option>
                            <option value="15" {{"selected='selected'" if record.time.day == 15 else "" }}>15</option>
                            <option value="16" {{"selected='selected'" if record.time.day == 16 else "" }}>16</option>
                            <option value="17" {{"selected='selected'" if record.time.day == 17 else "" }}>17</option>
                            <option value="18" {{"selected='selected'" if record.time.day == 18 else "" }}>18</option>
                            <option value="19" {{"selected='selected'" if record.time.day == 19 else "" }}>19</option>
                            <option value="20" {{"selected='selected'" if record.time.day == 20 else "" }}>20</option>
                            <option value="21" {{"selected='selected'" if record.time.day == 21 else "" }}>21</option>
                            <option value="22" {{"selected='selected'" if record.time.day == 22 else "" }}>22</option>
                            <option value="23" {{"selected='selected'" if record.time.day == 23 else "" }}>23</option>
                            <option value="24" {{"selected='selected'" if record.time.day == 24 else "" }}>24</option>
                            <option value="25" {{"selected='selected'" if record.time.day == 25 else "" }}>25</option>
                            <option value="26" {{"selected='selected'" if record.time.day == 26 else "" }}>26</option>
                            <option value="27" {{"selected='selected'" if record.time.day == 27 else "" }}>27</option>
                            <option value="28" {{"selected='selected'" if record.time.day == 28 else "" }}>28</option>
                            <option value="29" {{"selected='selected'" if record.time.day == 29 else "" }}>29</option>
                            <option value="30" {{"selected='selected'" if record.time.day == 30 else "" }}>30</option>
                            <option value="31" {{"selected='selected'" if record.time.day == 31 else "" }}>31</option>
                        </select></td>
                    
                </tr>    
			</table>
            

			<div id="Inst.Location">Tap to get location</div>  
            <input type="hidden" name="lat" id="lat" value="0" onchange="postParent(this)"/>
            <input type="hidden" name="lng" id="lng" value="0" onchange="postParent(this)"/>
            <img id="recMap" src="http://maps.googleapis.com/maps/api/staticmap?center={{record.location[0]}},{{record.location[1]}}
                                &zoom=14
                                &size=320x100
                                &maptype=roadmap
                                &markers=color:blue%7C{{record.location[0]}},{{record.location[1]}}
                                &sensor=false"/>
			<script>
                if (navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(function(position){
                        var lat = position.coords.latitude
                        var lng = position.coords.longitude
                        $("#lat").val(lat)
						$("#lng").val(lng)
						$("#recMap").attr("src","http://maps.googleapis.com/maps/api/staticmap?center="+lat+","+lng+"&zoom14&size=320x100&maptype=roadmap&markers=color:blue%7C"+lat+","+lng+"&sensor=false")
                    });
                }
				function submitform()
						{
						  $("#myform").submit();
						}
            </script>
        </div>
		<div id="submitForm" >
			<table width=320>
				<tbody>
					<tr>
						<td>
							<a onClick=submitform()  style="float:left" data-role="button" value="button">
                                {% if newRecord %}
                                    Submit
                                {% else %}
                                    Done
                                {% endif %}
                            </a>
                            
						</td>
						<td>
                            {% if newRecord %}
                                <a href="/addDebts/{{record.ID}}" style=" float:left"data-role="button">
                                    Add Debts 
                                    {% if len(record.debts) > 0 %}
                                        ({{len(record.debts)}})
                                    {% endif %}
                                
                                </a>
                            {% else %}
                                <a href="/recdebt/{{record.ID}}" style=" float:left"data-role="button">
                                    View Debts
                                    
                                    {% if len(record.debts) > 0 %}
                                        ({{len(record.debts)}})
                                    {% endif %}
                                </a>
                            {% endif %}
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </form>
{% endblock %}
