{% extends "layout.html" %}
{% block title %}Transfer{% endblock %}
{% block transfer_top_btn %}class="ui-btn-active"{% endblock %}
{% block content %}

	<table width="300">
		<tbody>
			<tr>
				<td>Transfer $</td>
				<td><input type="text" name="amount" value="{{ two_decimal(record.amount) }}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<table width="300">
		<tbody>
			<tr>
				<td>From</td>
				<td><select name="from">
						{% for et in my_ex_types.keys() %}
						<option value="{{ et }}" {{"SELECTED=SELECTED" if record.ex_type==et else ""}}>{{ my_ex_types[et] }}</option>
						{% endfor %}
				</select></td>
			</tr>
			<tr>
				<td>To</td>
				<td>
					<select name="to">
						{% for et in my_ex_types.keys() %}
						<option value="{{ et }}" {{"SELECTED=SELECTED" if record.transfer_to==et else ""}}>{{ my_ex_types[et] }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	<table width="300">
		<tbody>
			<tr>
				<td>
					<select name="yearmonth">
						{% for y in range(2011,2013) %}
							{% for m in range(1,13) %}
								<option value="{{y}}/{{ "0" if m < 10 else "" }}{{ m }}" {{ "SELECTED='SELECTED'" if y==today.year and m==today.month else "" }}>{{y}}/{{ "0" if m < 10 else "" }}{{ m }}</option>
							{% endfor %}
						{% endfor %}
					</select>
				</td>
				<td>
					<select name="day">
						{% for d in range(1,32) %}
							<option value="{{ "0" if d < 10 else "" }}{{ d }}" {{"SELECTED='SELECTED'" if d == today.day else ""}}>{{ "0" if d < 10 else ""}}{{ d }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<input type="button" value="OK" onclick="javascript:alert('Transfer Recorded');location.reload(true);"/>
{% endblock %}
